{% extends 'hms_staff/staff_index.html' %}
{% load static %}
{% block title %}Staff Dashboard{% endblock title %}

{% block staff %}
<div>
    <h2>Staff Dashboard</h2>
    <div class="container col-sm-5 mx-auto mt-1">
        {% if messages %}
            {% for message in messages %}
                <p {% if message %} class="alert alert-{{message.tags}} mb-5 alert-dismissible fade show" {% endif %} role="alert">{{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    </button>
                </p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="container card">
        <div class="card-body my-2">
            <h2 class="p-2 text-center" style="border-bottom: 2px solid navy;">{{staff.user.first_name}}, Welcome to your profile!</h2>
            <div class="container mt-5 table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th>First Name</th>
                        <td>{{staff.user.first_name}}</td>

                        <th>Last Name</th>
                        <td>{{staff.user.last_name}}</td>
                    </tr>
                    <tr>
                        <th>Email Address</th>
                        <td>{{staff.user.email}}</td>

                        <th>Contact Number</th>
                        <td>{{staff.user.mobile}}</td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td>{{staff.user.gender}}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{staff.Address}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock staff %}
