{% extends 'hms_patient/patient_index.html' %}
{% load static %}
{% block title %}Patient Dashboard{% endblock title %}

{% block patient  %}
<div>
    <h2>Patient Dashboard</h2>
    <div class="container col-sm-5 mx-auto mt-1">
        {% if messages %}
            {% for message in messages %}
                <p {% if message %} class="alert alert-{{message.tags}} mb-5 alert-dismissible fade show" {% endif %} role="alert">{{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" area-label="Close">
                    </button>
                </p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="container card">
        <div class="card-body my-2 ">
            {% block PatientHeading %}
            <h2 class="p-2 text-center" style="border-bottom: 2px solid navy;">Appointment Status</h2> 
            {% endblock PatientHeading %}
        <div class="container mt-5 table-responsive">
            <div class="col-sm-10 mx-auto">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>PATIENT ID</th>
                            <th>DOCTOR NAME</th>
                            <th>DEPARTMENT</th>
                            <th>STATUS</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for appointment in appointments %}
                            <tr>
                                <td>{{appointment.Appointment_ID}}</td>
                                <td>{{appointment.D_ID.user.first_name}} {{appointment.D_ID.user.last_name}}</td>
                                <td>{{appointment.D_ID.Department}}</td>
                                <td>{{appointment.Status}}</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            {% if appointment.Status == 'Pending' %}
                                            <a href="{% url 'cancel_appointment' appointment.Appointment_ID %}" class="btn btn-danger btn-sm">
                                                Cancel
                                            </a>
                                            {% else %}
                                                <span class="text-muted">N/A</span>
                                            {% endif %}
                                        </div>
                                        <div class="col-sm-4">
                                            <form action="{% url 'Edit_Appointment' appointment.Appointment_ID  %}" method="GET">
                                                {% csrf_token %}
                                                <input type="submit" value="Edit" class="btn btn-warning btn-sm">
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>  
        </div>
        </div>
    </div>
</div>
{% endblock patient %}
