{% load static %}

<div class="border-end border-warning h-100">
    <div>

    </div>
    <center> <img src="{% static 'hms/images/patient_logo.jpg' %}" alt="wallpaper" width="100" class="img-thumbnail rounded-circle"></center>
    <h5 class="ps-5 mt-3"><em>{{request.user.first_name|lower}}{{request.user.last_name|lower}}</em></h5>
    <hr class="border">
    <div class="list-group">
        <a href="{% url 'Patient_Profile' %}" class="list-group-item list-group-item-primary list-group-item-action  {% if request.path == '/hms_patient/Patient_Profile/' %} active {% endif %} ">Profile</a>
        <a href="{% url 'Book_Appointment' %}" class="list-group-item list-group-item-primary list-group-item-action {% if request.path == '/hms_patient/Book_Appointment/' %} active {% endif %} ">Book Appointment</a>
        <a href="{% url 'Patient_My_Appointment' %}" class="list-group-item list-group-item-primary list-group-item-action {% if request.path == '/hms_patient/My_Appointment/' %} active {% endif %}">Appointment Status</a>
        <a href="{% url 'edit_patient_profile' %}" class="list-group-item list-group-item-primary list-group-item-action {% if request.path == '/hms_patient/edit_profile/' %} active {% endif %} ">Update Details</a>
        <a href="{% url 'Doctor_List' %}" class="list-group-item list-group-item-primary list-group-item-action {% if request.path == '/hms_patient/Doctor_List/' %} active {% endif %} ">View Doctor</a>
        <a href="{% url 'My_Medicines' %}" class="list-group-item list-group-item-primary list-group-item-action {% if request.path == '/hms_patient/My_Medicines/' %} active {% endif %}">My Medicines</a>
        <!-- <a href="" class="list-group-item list-group-item-primary list-group-item-action">Receipt Payment</a> -->
    </div>
</div>
