<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'hms/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'hms/css/style.css' %}">
    <style>
        .background-div{
            background-image: url( "{% static 'hms/images/h3.jpg' %}");
        }


    </style>
</head>
<body>
    
    {% include 'hms/navbar.html' %}

    {% block content1 %} {% endblock content1 %}
    {% block content2 %} {% endblock content2 %}


    <script src="{% static 'hms/js/jquery.js' %}"></script>
    <script src="{% static 'hms/js/popper.js' %}"></script>
    <script src="{% static 'hms/js/bootstrap.js' %}"></script>
</body>
</html>