{% extends 'hms/base.html' %}
{% load static %}
{% block title %}contact{% endblock title %}


{% block content1 %}
<div class="container-fluid contact-body">
    <div class="container py-5 mt-2">
        <div class="container col-sm-5 mx-auto mt-1">
            {% if messages %}
                {% for message in messages %}
                    <p {% if message %} class="alert alert-{{message.tags}} mb-5 alert-dismissible fade show" {% endif %} role="alert">{{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" area-label="Close">
                        </button>
                    </p>
                {% endfor %}
            {% endif %}
        </div>
        
        
        <div class="card">
            <div class="card-body">
                <h1 class="fw-light text-center py-3">Contact Us</h1>
                <small class="text-warning">
                    {% for error in form.errors %}
                        {{ error }}
                    {% endfor %}
                </small>
                <form action="" method="post">
                    
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    {{form.fname.label}}
                                    {{form.fname}}
                                </div>
                                
                                <div class="col-sm-5">
                                    
                                    {{form.contact.label}}
                                    {{form.contact}}
                                    
                                </div>
                            </div> <br>
                            <div class="row">
                                <div class="col-sm-5">
                                    {{form.email.label}}
                                    {{form.email}}
                                </div>
                                <div class="col-sm-5">
                                    {{form.subject.label}}
                                    {{form.subject}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10">
                                    {{form.message.label}}
                                    {{form.message}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <h3 class="fw-light">Find Us at the office</h3>
                                <p>232 Shree Sai hospital<br>
                                  B Sector, Mumbai<br>
                                  Maharastra
                                </p>
                             </div>
                             <div>
                                <h3 class="fw-light">Give Us a Ring</h3>
                                <p>Customer Care<br>
                                    +91 1234567890<br>
                                    Mumbai
                                </p>
                             </div>
                        </div>
                    </div>
                    <br>
                    <input type="submit" value="Submit" class="col-sm-2 btn btn-primary">
                    <a href="{% url 'contact' %}" class="col-sm-2 btn btn-warning">Reset</a>
                    
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content1 %}
