{% extends 'hms/base.html' %}
{% load static %}
{% block title %}Patient Register{% endblock title %}


{% block content1 %}
<div class="container-fluid" >
    <div class="container col-sm-5 mx-auto mt-1">
        {% if messages %}
            {% for message in messages %}
                <p {% if message %} class="alert alert-{{message.tags}} mb-5 alert-dismissible fade show" {% endif %} role="alert">{{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" area-label="Close">
                    </button>
                </p>
            {% endfor %}
        {% endif %}
    </div>
    <h1 class="text-center">Patient Register</h1>
    <form action="" method="POST"  class="col-sm-4 mx-auto">
        {% csrf_token %}
        {% for fm in form %}
        <div class="mt-2">
          {{fm.label_tag}} {{fm}} 
          <small class="text-warning">{{fm.errors|striptags}}</small>
        </div>        
      {% endfor %} 
        <input type="submit" value="Submit" class=" mt-2 btn btn-primary">
        {% if form.non_field_errors %} 
            {% for error in form.non_field_errors %}
              <p class="alert alert-danger my-3">{{error}}</p>
            {% endfor %} 
        {% endif %}
    </form> 

</div>
{% endblock content1 %} 
