{% extends 'hms/base.html' %}
{% load static %}
{% block title %}Register{% endblock title %}

{% block content1 %}
<div class="container">
    <div class="text-center mt-4">
        <a href="{% url 'patient_register' %}"><button  class="note">Patient Registration</button></a>
    </div>
    <br>
    <div class="text-center mt-4">
        <a href="{% url 'doctor_register' %}"><button class="note ">Doctor Registration</button></a>
    </div>
    <br>
    <div class="text-center mt-4">
        <a href="{% url 'staff_register' %}"><button  class="note ">Staff Registration</button></a>
    </div>
</div>
{% endblock content1 %}

