{% extends 'hms/base.html' %}
{% load static %}
{% block title %}Staff Register{% endblock title %}


{% block content1 %}
<div class="container-fluid" >
    <h1 class="text-center">Staff Register</h1>

    <form action="" method="POST"  class="col-sm-4 mx-auto">
        {% csrf_token %}
        <!-- {{form.as_p}} -->
        {% for fm in form %}
          <div class="mt-2">
            {{fm.label_tag}} {{fm}} 
            <small class="text-warning">{{fm.errors|striptags}}</small>
          </div>
        {% endfor %} 
        <input type="submit" value="Submit" class=" mt-2 btn btn-primary">
        {% if form.non_field_errors %} 
            {% for error in form.non_field_errors %}
              <p class="alert alert-danger my-3">{{error}}</p>
            {% endfor %} 
        {% endif %}

    </form> 


</div>
{% endblock content1 %} 



