{% load static %}

<div class="border-end border-warning h-100">
    <div>

    </div>
    <center> <img src="{% static 'hms/images/patient_logo.jpg' %}" alt="wallpaper" width="100" class="img-thumbnail rounded-circle"></center>
    <h5 class="ps-5 mt-3"><em>{{request.user.first_name|lower}}{{request.user.last_name|lower}}</em></h5>
    <hr class="border">
    <div class="list-group">
        <a href="{% url 'doctor_profile' %}" class="list-group-item list-group-item-primary list-group-item-action  {% if request.path == '/hms_doctor/doctor_profile/' %} active {% endif %} ">Profile</a>
        <a href="" class="list-group-item list-group-item-primary list-group-item-action">My Appointments</a>
        <a href="" class="list-group-item list-group-item-primary list-group-item-action">Appointment Status</a>
        <a href="" class="list-group-item list-group-item-primary list-group-item-action">Add prescription</a>
    </div>
</div>
