{% extends 'hms_doctor/doctor_index.html' %}
{% load static %}
{% block title %}Doctor Dashboard{% endblock title %}

{% block doctor  %}
<div>
    <h2>Doctor Dashboard</h2>
    <div class="container col-sm-5 mx-auto mt-1">
        {% if messages %}
            {% for message in messages %}
                <p {% if message %} class="alert alert-{{message.tags}} mb-5 alert-dismissible fade show" {% endif %} role="alert">{{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" area-label="Close">
                    </button>
                </p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="container card">
        <div class="card-body my-2 ">
            {% block DoctorHeading %}
            <h2 class="p-2 text-center" style="border-bottom: 2px solid navy;"> {{doctor.user.first_name}}, Welcome to profile!!</h2> 
            {% endblock DoctorHeading %}
        <div class="container mt-5 table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th> First Name</th>
                    <td>{{doctor.user.first_name}}</td>
                    
                    <th> Last Name</th>
                    <td>{{doctor.user.last_name}}</td>
                </tr>
                <br>
                <tr>
                    <th> Email Address</th>
                    <td>{{doctor.user.email}}</td>

                    <th> Contact Number</th>
                    <td>{{doctor.user.mobile}}</td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td>{{doctor.user.gender}}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{doctor.Address}}</td>
                </tr>
            </table>
        </div>
        </div>
    </div>
</div>
{% endblock doctor %}
